@import "../../.meteor/local/build/programs/web.browser/packages/juliancwirko_zf5/scss/normalize.scss";
@import "../../.meteor/local/build/programs/web.browser/packages/juliancwirko_zf5/scss/foundation/components/buttons.scss";
@import "../../.meteor/local/build/programs/web.browser/packages/juliancwirko_zf5/scss/foundation/components/forms.scss";
@import "../../.meteor/local/build/programs/web.browser/packages/juliancwirko_zf5/scss/foundation/components/inline-lists.scss";
@import "../../.meteor/local/build/programs/web.browser/packages/juliancwirko_zf5/scss/foundation/components/type.scss";

html {
    text-align: center;
}

#app {
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
}

.items {
    .item {
        background-color: lightgray;
        border-radius: 50%;
        color: darkgrey;
        cursor: default;
        height: 70px;
        outline: 0;
        padding: 0;
        transition: all 0.2s;
        width: 70px;
    }

    .is-active {
        background-color: darkgreen;
        color: white;
    }
}

button.start {
    background-color: green;
}

.is-active {
    button.start {
        background-color: red;
    }

    .item {
        background-color: #007095;
        color: white;
        cursor: pointer;

        &:active {
            background-color: lighten(#007095, 15%);
            box-shadow: inset 0 0 35px 4px rgba(255, 255, 255, 0.35);
        }
    }
}