@import "../../.meteor/local/build/programs/web.browser/packages/juliancwirko_zf5/scss/normalize.scss";
@import "../../.meteor/local/build/programs/web.browser/packages/juliancwirko_zf5/scss/foundation/components/buttons.scss";
@import "../../.meteor/local/build/programs/web.browser/packages/juliancwirko_zf5/scss/foundation/components/forms.scss";
@import "../../.meteor/local/build/programs/web.browser/packages/juliancwirko_zf5/scss/foundation/components/inline-lists.scss";
@import "../../.meteor/local/build/programs/web.browser/packages/juliancwirko_zf5/scss/foundation/components/type.scss";

html {
    text-align: center;
}

#app {
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
}

.items {
    .item {
        transition: all 0.2s;
    }

    .is-active {
        background-color: darkgreen;
        color: white;
    }
}

button.start {
    background-color: green;
}

button.item {
    background-color: lightgray;
    color: darkgrey;
    cursor: default;
    outline: 0;
}

.is-active {
    button.start {
        background-color: red;
    }

    .item {
        background-color: #007095;
        color: white;
        cursor: pointer;
    }
}